fastapi==0.115.8
uvicorn==0.34.0
sqlalchemy==2.0.38
pydantic==2.10.6
python-dotenv==1.0.1
requests==2.32.3
langchain==0.3.18
langchain-community==0.3.17
langchain-core==0.3.45
langgraph==0.2.70
langchain-google-genai==2.0.9
google-generativeai==0.8.4
pytz==2025.1
email-validator==2.2.0
sqlmodel==0.0.22
apscheduler==3.10.4
psycopg2==2.9.9
asyncpg==0.30.0