duckduckgo_search==7.5.2
fastapi==0.115.8
google-ai-generativelanguage==0.6.15
google-api-core==2.24.1
google-generativeai==0.8.4
ipykernel==6.29.5
ipython==8.32.0
jsonschema==4.23.0
jsonschema-specifications==2024.10.1
langchain==0.3.18
langchain-community==0.3.17
langchain-core==0.3.45
langchain-experimental==0.3.4
langchain-google-genai==2.0.9
langchain-groq==0.2.4
langchain-huggingface==0.1.2
langchain-openai==0.3.9
langchain-text-splitters==0.3.6
langchainhub==0.1.21
langgraph==0.2.70
langsmith==0.3.8
openai==1.66.5
prompt_toolkit==3.0.50
pyarrow==19.0.0
pydantic==2.10.6
pydantic-settings==2.7.1
pydantic_core==2.27.2
python-dotenv==1.0.1
pytz==2025.1
regex==2024.11.6
requests==2.32.3
SQLAlchemy==2.0.38
sympy==1.13.1
tavily-python==0.5.1
tokenizers==0.21.0
typing-inspect==0.9.0
typing_extensions==4.12.2
uvicorn==0.34.0
wikipedia==1.4.0
fastapi[all]
langchain-community
fastapi
uvicorn[standard]
langchain
langchain-openai
langchain-core
langgraph
pydantic
sqlalchemy
psycopg2-binary
requests
python-dotenv
tavily-python
email-validator
qdrant-client
sqlmodel
langchain-google-genai
apscheduler
pytz